/*
  GLOBAL VARIABLES:
*/

:root {
  /*
   * Home page
   */
  --color-gradient-home-large: linear-gradient(
    -10deg,
    hsl(215, 80%, 30%),
    hsl(220, 85%, 40%),
    hsl(210, 90%, 50%)
  ); //linear-gradient(40deg, hsl(215, 95%, 25%), hsl(210, 90%, 45%), hsl(205, 85%, 65%));
  --color-gradient-home-deep-medium: linear-gradient(
    40deg,
    hsl(215, 95%, 25%),
    hsl(210, 100%, 40%),
    hsl(205, 85%, 65%)
  );
  --color-gradient-home-deep-small: linear-gradient(
    40deg,
    hsl(215, 100%, 30%),
    hsl(210, 100%, 40%),
    hsl(205, 85%, 60%)
  );

  /*
   * Results page
   */
  --color-gradient-primary: linear-gradient(200deg, hsl(215, 90%, 20%), hsl(210, 100%, 30%), hsl(205, 90%, 40%));
  --color-gradient-background: linear-gradient(to bottom, hsl(205, 100%, 97%), hsl(210, 75%, 95%));

  /*
   * Home + Results page
   */
  --color-gradient-primary-before: linear-gradient(
    350deg,
    hsl(220, 100%, 25%),
    hsl(210, 100%, 50%),
    hsl(195, 100%, 75%)
  );

  /*
   * Header
   */
  --color-primary-overlay: linear-gradient(175deg, hsla(222, 100%, 25%, 0.75), hsla(222, 100%, 25%, 0.05));

  /*
   * All other colors
   */
  --box-shadow-black: 1px 1px 0 rgba(0, 0, 0, 0.5);
  --box-shadow-dark: 0 1px 1px rgba(150, 175, 180, 0.4);
  --box-shadow-light: 0 1px 1px rgba(150, 175, 180, 0.3);
  --box-shadow-attention: 0 0 0.125px 2px var(--color-attention-light);

  --color-primary: hsl(210, 73%, 52%);
  --color-primary-dark: hsl(200, 55%, 45%);

  --color-link: hsl(197, 90%, 50%);
  --color-link-light: hsl(198, 75%, 55%);
  --color-link-dark: hsl(195, 75%, 40%);

  --color-accent-light: hsl(98, 68%, 66%);
  --color-accent: hsl(89, 84%, 48%);
  --color-accent-dark: hsl(98, 97%, 42%);
  --color-accent-darker: hsl(137, 100%, 27%);

  --color-attention-light: hsl(42.5, 100%, 60%);
  --color-attention: hsl(40, 100%, 49%);
  --color-attention-dark: hsl(40, 100%, 48%);

  --color-subtle-light: hsl(202, 65%, 95%);
  --color-subtle: hsl(210, 62%, 92%);
  --color-subtle-transparent: hsla(202, 65%, 95%, 0.75);
  --color-subtle-dark: hsl(222, 55%, 80%);

  --color-bad-dark: hsl(360, 50%, 50%);
  --color-bad: hsl(0, 80%, 55%);
  --color-bad-light: hsl(360, 60%, 75%);

  --color-white: rgb(253, 254, 255);
  --color-warmwhite: hsl(60, 5%, 99%);
  --color-coolwhite: hsl(210, 60%, 97%);
  --color-light: hsl(0, 0%, 67%);
  --color-medium: hsl(0, 0%, 40%);
  --color-dark: hsl(0, 0%, 33%);
  --color-black: hsl(0, 0%, 5%);

  --color-other: hsl(245, 35%, 65%);

  --color-input-border: #ccc;
  --color-input-placeholder: #ccc;
  --color-input-color: #333;

  --color-white-retina: rgb(251, 252, 253);
  --color-subtle-light-retina: rgb(220, 234, 245);
}
