* {margin: 0;padding: 0;}
body {background: #FDFDFD url(./img/paper.jpg) repeat-x;margin: 0;overflow: hidden;color: #333;font-family:Courier;font-size:11px;}
#bg {position:absolute;top:0;right:0;}
img.sun {position:absolute;top:5vh;right:10vh;}
#birdsCanvas {position:fixed;top:0;left:0;width:100vw;height:100vh;overflow:hidden;}