.uuiCarousel {
}

.uuiCarousel .images {
  position: relative;
  margin: 0.5rem 0;
  overflow: auto;
  display: flex;
  scroll-behavior: smooth;
}

.uuiCarousel .images > * {
  margin-right: 0.25rem;
}
.uuiCarousel .images img {
  height: 8rem;
  width: auto;
}

.uuiCarousel .prev {
  opacity: 0;
  visibility: hidden;
}

.uuiCarousel .arrows {
  font-size: 16px;
  font-weight: bold;
}
