@keyframes playGlow {
  0%   { box-shadow: 0 0 5px 0 orange; }
  40% { box-shadow: 0 0 25px 0 orange; }
  100%   { box-shadow: 0 0 5px 0 orange; }
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
*:focus {
	outline: none;
}
input::-webkit-input-placeholder {
color: #999 !important;
}
input:-moz-placeholder { /* Firefox 18- */
color: #999 !important;  
}
input::-moz-placeholder {  /* Firefox 19+ */
color: #999 !important;  
}
input:-ms-input-placeholder {  
color: #999 !important;  
}
a:hover {
	text-decoration:none;
}


html {
	font-size:16.5px;
}
@media (max-width:950px), (max-height:750px) {
	html {
		font-size:15px;
	}
}
@media (max-width:750px), (max-height:650px) {
	html {
		font-size:12.5px;
	}
}
@media (max-width:380px), (max-height:380px) {
	html {
		font-size:11.5px;
	}
}
@media (max-width:330px), (max-height:330px) {
	html {
		font-size:10.5px;
	}
}


.aboutme {
	display:flex;
	margin-top:-2.5rem;
	margin-bottom:3rem;
	.bubble {
		display:inline-block;
		border-radius:50%;
		overflow:hidden;
		display:none;
		&.bubble0 {
		}
		&.bubble1 {
		}
		&.bubble2 {
		}
	}
	img.portrait {
		height:7.5rem;
		width:auto;
		margin-right:1rem;
		border-radius:50%;
		display:block;
	}
	.bubbleText {
		flex-grow:1;
		font-size:1.1rem;
		line-height:1.5rem;
	}
}


body {
	overflow:auto;
	font-family: "Bodoni 72", Georgia, serif;
}
a {
	color:orange;
	text-decoration:none;
}
a:hover {
	color:#4BAFE1;
	text-decoration:underline;
}
[onclick] {
	cursor:pointer;
}
article pre {
	font-size:0.73rem !important;
}

section {
	margin: 2.5vh 5.5vw 2.5vh 5vw;
	position:relative;

	header {
		position:relative;
		width:100%;
		font-size:1.14rem;
		line-height:1.45rem;
		min-height:calc(1.45rem + 4px);
		margin-bottom:3rem;
		color:#666;
		.h-left {
			position:absolute;
			left:0;
			.icon-heart:before {
				font-size:90%;
				vertical-align:1px;
			}
		}
		.h-right {
			position:absolute;
			right:0;
			.ion-thumbsup:before {
				font-size:125%;
			}
		}
	}

	article {
		margin:0 0 4rem;
		max-width:100vw;
		overflow:hidden;
		overflow-x:auto;

		.video {
			position:relative;
			max-width:720px;
			margin:0 0 1vh;
			.playpause {
				background-image:url(../gfx/ui/play.png);
				background-repeat:no-repeat;
				background-position: center;
				cursor:pointer;
				width:101%;
				height:100%;
				position:absolute;
			}
			video {
				width:100%;
				display:block;
			}
		}
		.image {
			position:relative;
			max-width:720px;
			img {
				width:100%;
			}
		}
		.image {
			position:relative;
			max-width:720px;
			img {
				width:100%;
			}
		}
		.collage {
			position:relative;
			width:100%;
			.playbutton {
				background-image: url(../gfx/ui/play.svg);
				background-repeat: no-repeat;
				background-position: center;
				cursor: pointer;
				position: absolute;
				width: 6vw;
				height: 6vw;
				top: 0;
				background-size: auto 50%;
				background-color: #fff;
				top: calc(50% - 3vw);
				left: calc(50% - 3vw);
				border-radius: 50%;
				box-shadow: 0 0 5px #000;
				background-position-x: 60%;
				border: solid 1px orange;
				animation:         playGlow 3s infinite;
			}
			img {
				width:100%;
			}
		}
		.title {
			font-size: 1.82rem;
			line-height: 1.82rem;
			margin:0 0 0.66vh;
		}
		.description {
			font-size: 1.03rem;
			line-height: 1.82rem;
			p {
				margin-bottom:0.85rem;
			}
		}
		.article {
			font-size: 1.03rem;
			line-height: 1.82rem;
		}
	}

}

@media (max-width: 800px) {
	section {
		header {
			.h-left {
				position: relative;
				display: block;
			}
			.h-right {
				position: relative;
				text-align: right;
				display: block;
			}
		}
	}
}

/*
	CHEESY EFFECT
*/
.h-hidden {
	transition:opacity 1s linear 10s;
	opacity:0;
}
.h-visible {
	transition:opacity 1s linear 10s;
	opacity:1;
}
body.ready {
	.h-hidden {
		opacity:1;
	}
	.h-visible {
		opacity:0;
	}
}
