/* screen - become-a-beta-customer-email-danny-fixes */

.become-a-beta-customer-email-danny-fixes {
  align-items: center;
  background-color: rgba(240,240,240,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 4705px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  padding: 19px 0;
  position: relative;
  width: 375px;
}
.become-a-beta-customer-email-danny-fixes .arrow-3-EGk9jL {
  background-color: transparent;
  height: 40px;
  left: 194px;
  position: absolute;
  top: 225px;
  width: 46px;
}
.become-a-beta-customer-email-danny-fixes .arrow-3-UeuOZ3 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 59px;
  margin-right: -4.0px;
  margin-top: 1px;
  position: relative;
  width: 47px;
}
.become-a-beta-customer-email-danny-fixes .arrow-3-XwHWWA {
  background-color: transparent;
  flex-shrink: 1;
  height: 62px;
  margin-left: 20.0px;
  margin-top: 9px;
  position: relative;
  width: 30px;
}
.become-a-beta-customer-email-danny-fixes .arrow-3-wUSVx3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 50px;
  margin-left: -5.0px;
  margin-top: 3px;
  position: relative;
  width: 35px;
}
.become-a-beta-customer-email-danny-fixes .arrow-4-O2ZowE {
  background-color: transparent;
  height: 1px;
  left: 129px;
  position: absolute;
  top: 145px;
  width: 1px;
}
.become-a-beta-customer-email-danny-fixes .arrow-pointer-FRqUfd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 75px;
  min-height: 130px;
  position: absolute;
  top: 62px;
  width: 97px;
}
.become-a-beta-customer-email-danny-fixes .arrow-pointer-WyDZ0p {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 110px;
  min-height: 124px;
  position: absolute;
  top: 69px;
  width: 79px;
}
.become-a-beta-customer-email-danny-fixes .arrow-pointer-xO8cBd {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 51px;
  min-height: 142px;
  position: absolute;
  top: 29px;
  width: 72px;
}
.become-a-beta-customer-email-danny-fixes .container-xjBbHc {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 40px;
  justify-content: flex-end;
  min-width: 335px;
  padding: 7.0px 124.0px;
  position: relative;
  width: auto;
}
.become-a-beta-customer-email-danny-fixes .ellipse-1-UeuOZ3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 72px;
  margin-left: -0.5px;
  position: relative;
  width: 73px;
}
.become-a-beta-customer-email-danny-fixes .ellipse-1-XwHWWA {
  background-color: transparent;
  flex-shrink: 1;
  height: 72px;
  position: relative;
  width: 72px;
}
.become-a-beta-customer-email-danny-fixes .ellipse-1-wUSVx3 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 72px;
  margin-right: -0.5px;
  position: relative;
  width: 73px;
}
.become-a-beta-customer-email-danny-fixes .facebook-J0os4Z {
  background-color: transparent;
  flex-shrink: 1;
  height: 49px;
  position: relative;
  width: 49px;
}
.become-a-beta-customer-email-danny-fixes .fill-10-kTWQrP {
  background-color: transparent;
  flex-shrink: 1;
  height: 17px;
  margin-left: 0px;
  margin-top: 1.39px;
  position: relative;
  width: 5px;
}
.become-a-beta-customer-email-danny-fixes .fill-12-9vIfT6 {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 8px;
}
.become-a-beta-customer-email-danny-fixes .fill-14-9vIfT6 {
  background-color: transparent;
  height: 12px;
  left: 8px;
  position: absolute;
  top: 0px;
  width: 11px;
}
.become-a-beta-customer-email-danny-fixes .fill-16-kTWQrP {
  background-color: transparent;
  flex-shrink: 1;
  height: 19px;
  margin-left: 2px;
  margin-top: -0.49px;
  position: relative;
  width: 3px;
}
.become-a-beta-customer-email-danny-fixes .fill-6-kTWQrP {
  background-color: transparent;
  flex-shrink: 1;
  height: 18px;
  margin-left: 0px;
  margin-top: 0.77px;
  position: relative;
  width: 11px;
}
.become-a-beta-customer-email-danny-fixes .fill-8-kTWQrP {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 17px;
  margin-bottom: -0.33px;
  margin-left: 1px;
  position: relative;
  width: 11px;
}
.become-a-beta-customer-email-danny-fixes .footer-grey-color-overlay-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 463px;
  justify-content: flex-start;
  margin-right: 1.0px;
  margin-top: 29px;
  min-width: 292px;
  position: relative;
  width: auto;
}
.become-a-beta-customer-email-danny-fixes .footer-text-0xqxx4 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 463px;
  position: relative;
  width: 292px;
}
.become-a-beta-customer-email-danny-fixes .footer-text-5h9QEr {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 22.1px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-height: 22px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .footer-text-pAbfe2 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 22.1px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-height: 286px;
  position: relative;
  text-align: left;
  width: 289px;
}
.become-a-beta-customer-email-danny-fixes .footer-text-xLqQBE {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 22.1px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-height: 44px;
  position: relative;
  text-align: center;
  width: 288px;
}
.become-a-beta-customer-email-danny-fixes .heart-rw5EUj {
  background-color: transparent;
  flex-shrink: 1;
  height: 25px;
  margin-left: 0px;
  margin-top: -0.32px;
  position: relative;
  width: 28px;
}
.become-a-beta-customer-email-danny-fixes .hi-paul-welcome-to-42hQYH {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-left: 2.0px;
  min-height: 168px;
  position: relative;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .hi-paul-welcome-to-9hIhEz {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-left: 2.0px;
  min-height: 336px;
  position: relative;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .hi-paul-welcome-to-Ied137 {
  background-color: transparent;
  color: rgba(51,51,51,1.0);
  flex-shrink: 1;
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 30px;
  margin-top: 25px;
  min-height: 270px;
  position: relative;
  text-align: left;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .image-1-42hQYH {
  background-color: transparent;
  flex-shrink: 1;
  height: 371px;
  margin-top: 25px;
  position: relative;
  width: 238px;
}
.become-a-beta-customer-email-danny-fixes .image-1-73IcPj {
  background-color: transparent;
  flex-shrink: 1;
  height: 376px;
  margin-top: 25px;
  position: relative;
  width: 206px;
}
.become-a-beta-customer-email-danny-fixes .image-1-9hIhEz {
  background-color: transparent;
  flex-shrink: 1;
  height: 366px;
  margin-top: 25px;
  position: relative;
  width: 201px;
}
.become-a-beta-customer-email-danny-fixes .image-1-EGk9jL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 371px;
  justify-content: flex-end;
  left: 0px;
  min-width: 232px;
  position: absolute;
  top: 0px;
  width: auto;
}
.become-a-beta-customer-email-danny-fixes .image-1-mK0upB {
  background-color: transparent;
  flex-shrink: 1;
  height: 373px;
  margin-top: 25px;
  position: relative;
  width: 230px;
}
.become-a-beta-customer-email-danny-fixes .image-11-O2ZowE {
  background-color: transparent;
  height: 14px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 38px;
}
.become-a-beta-customer-email-danny-fixes .image-2-73IcPj {
  background-color: transparent;
  flex-shrink: 1;
  height: 371px;
  margin-top: 25px;
  position: relative;
  width: 203px;
}
.become-a-beta-customer-email-danny-fixes .image-2-WyDZ0p {
  background-color: transparent;
  height: 371px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 203px;
}
.become-a-beta-customer-email-danny-fixes .instagram-J0os4Z {
  background-color: transparent;
  flex-shrink: 1;
  height: 49px;
  margin-left: 20px;
  position: relative;
  width: 49px;
}
.become-a-beta-customer-email-danny-fixes .install-i4561229-UzwzfA {
  background-color: transparent;
  color: rgba(52,120,246,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 83px;
  white-space: nowrap;
  width: auto;
}
.become-a-beta-customer-email-danny-fixes .intro-header-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 21px;
  min-height: 424px;
  position: absolute;
  top: 112px;
  width: 292px;
}
.become-a-beta-customer-email-danny-fixes .linkedin-J0os4Z {
  background-color: transparent;
  flex-shrink: 1;
  height: 49px;
  margin-left: 20px;
  position: relative;
  width: 49px;
}
.become-a-beta-customer-email-danny-fixes .logo-header-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: flex-start;
  left: 0px;
  min-width: 335px;
  position: absolute;
  top: 45px;
  width: auto;
}
.become-a-beta-customer-email-danny-fixes .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 4045px;
  position: relative;
  width: 335px;
}
.become-a-beta-customer-email-danny-fixes .overlap-group1-kTWQrP {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 12px;
  margin-left: 0px;
  margin-top: 1.83px;
  position: relative;
  width: 19px;
}
.become-a-beta-customer-email-danny-fixes .phone-FRqUfd {
  background-color: transparent;
  height: 366px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 201px;
}
.become-a-beta-customer-email-danny-fixes .rectangle-12-O2ZowE {
  background-color: rgba(255,255,255,1.0);
  height: 21px;
  left: 135px;
  position: absolute;
  top: 89px;
  width: 38px;
}
.become-a-beta-customer-email-danny-fixes .social-buttons-xLqQBE {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 49px;
  justify-content: flex-start;
  min-width: 256px;
  position: relative;
  width: auto;
}
.become-a-beta-customer-email-danny-fixes .span0-AdMAOI {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span0-BIxL80 {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span0-Vx55UY {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span0-mpdxht {
  font-style: normal;
  line-height: 16px;
}
.become-a-beta-customer-email-danny-fixes .span0-rtqO9Y {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span0-ztBAU6 {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span1-AdMAOI {
  color: rgba(51,51,51,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span1-BIxL80 {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span1-Vx55UY {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span1-mpdxht {
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
.become-a-beta-customer-email-danny-fixes .span1-rtqO9Y {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span1-ztBAU6 {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span2-BIxL80 {
  color: rgba(0,0,0,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span2-Vx55UY {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span2-mpdxht {
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.become-a-beta-customer-email-danny-fixes .span2-rtqO9Y {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span2-ztBAU6 {
  color: rgba(51,51,51,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span3-Vx55UY {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span3-rtqO9Y {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span3-ztBAU6 {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span4-Vx55UY {
  color: rgba(0,0,0,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span4-rtqO9Y {
  color: rgba(0,0,0,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span4-ztBAU6 {
  color: rgba(51,51,51,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span5-rtqO9Y {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span5-ztBAU6 {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span6-rtqO9Y {
  color: rgba(0,0,0,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .span6-ztBAU6 {
  color: rgba(51,51,51,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.become-a-beta-customer-email-danny-fixes .spiral-logo-MmzYZf {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-start;
  min-width: 86px;
  position: relative;
  width: auto;
}
.become-a-beta-customer-email-danny-fixes .step-1-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 21px;
  min-height: 727px;
  position: absolute;
  top: 586px;
  width: 292px;
}
.become-a-beta-customer-email-danny-fixes .step-2-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 21px;
  min-height: 1252px;
  position: absolute;
  top: 1363px;
  width: 292px;
}
.become-a-beta-customer-email-danny-fixes .step-3-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 21px;
  min-height: 595px;
  position: absolute;
  top: 2665px;
  width: 292px;
}
.become-a-beta-customer-email-danny-fixes .step-4-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 21px;
  min-height: 701px;
  position: absolute;
  top: 3310px;
  width: 292px;
}
.become-a-beta-customer-email-danny-fixes .test-flight-app-i45531493-O2ZowE {
  background-color: transparent;
  color: rgba(22,117,210,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  height: 28px;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 36px;
  white-space: nowrap;
  width: 58px;
}
.become-a-beta-customer-email-danny-fixes .text-1-73IcPj {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-left: 2.0px;
  min-height: 113px;
  position: relative;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .text-1-mK0upB {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-left: 2.0px;
  min-height: 197px;
  position: relative;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .text-2-42hQYH {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 112px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-left: 2.0px;
  margin-top: 25px;
  min-height: 112px;
  position: relative;
  text-align: center;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .text-2-73IcPj {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-left: 2.0px;
  margin-top: 25px;
  min-height: 85px;
  position: relative;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .text-redeem-code-73IcPj {
  background-color: transparent;
  color: rgba(153,153,153,1.0);
  flex-shrink: 1;
  font-family: 'Helvetica Neue-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 23px;
  margin-left: 2.0px;
  margin-top: 25px;
  min-height: 207px;
  position: relative;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .text-rw5EUj {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 24px;
  justify-content: flex-start;
  margin-left: 3px;
  min-width: 55px;
  position: relative;
  width: auto;
}
.become-a-beta-customer-email-danny-fixes .twitter-J0os4Z {
  background-color: transparent;
  flex-shrink: 1;
  height: 49px;
  margin-left: 20px;
  position: relative;
  width: 49px;
}
.become-a-beta-customer-email-danny-fixes .welcome-to-the-jungl-Ied137 {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 129px;
  position: relative;
  text-align: center;
  width: 294px;
}
.become-a-beta-customer-email-danny-fixes .white-bg-4eduM0 {
  background-color: transparent;
  height: 4045px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 335px;
}
.become-a-beta-customer-email-danny-fixes .white-clay-i-ph-ockuuups-studio-O2ZowE {
  background-color: transparent;
  height: 371px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 204px;
}
.become-a-beta-customer-email-danny-fixes .white-clay-i-ph-ockuuups-studio-UzwzfA {
  background-color: transparent;
  height: 366px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 202px;
}
.become-a-beta-customer-email-danny-fixes .white-clay-i-ph-ockuuups-studio-nrin8Q {
  background-color: transparent;
  flex-shrink: 1;
  height: 371px;
  object-fit: cover;
  position: relative;
  width: 204px;
}
.become-a-beta-customer-email-danny-fixes .white-clay-i-ph-ockuuups-studio-xO8cBd {
  background-color: transparent;
  height: 373px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 204px;
}
.helveticaneue-bold-white-20px {
  color: transparent;
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.helveticaneue-regular-normal-delta-13px {
  color: var(--delta);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --delta: rgba(163,163,163,1.0);
}
