/* screen - experimental-format-for-email */

.experimental-format-for-email {
  background-color: rgba(240,240,240,1.0);
  height: 100vh;
  margin: 0px;
  min-height: 4705px;
  min-width: 654px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.experimental-format-for-email .arrow-3-24sS1v {
  background-color: transparent;
  height: 43.31%;
  left: 43.40%;
  position: absolute;
  top: 57.57%;
  width: 40.97%;
}
.experimental-format-for-email .arrow-3-goX1IU {
  background-color: transparent;
  height: 40.32%;
  left: calc(50.00% - 44px);
  position: absolute;
  top: 60.89%;
  width: 34px;
}
.experimental-format-for-email .arrow-4-AnKCw1 {
  background-color: transparent;
  height: 0px;
  left: 63.31%;
  position: absolute;
  top: 39.17%;
  width: 0.25%;
}
.experimental-format-for-email .arrow-pointer-Beyjxh {
  background-color: transparent;
  height: 33.42%;
  left: calc(50.00% + 8px);
  position: absolute;
  top: 18.60%;
  width: 79px;
}
.experimental-format-for-email .arrow-pointer-Zjjsew {
  background-color: transparent;
  height: 38.07%;
  left: 22.17%;
  position: absolute;
  top: 7.77%;
  width: 31.30%;
}
.experimental-format-for-email .container-f0gZC7 {
  background-color: transparent;
  height: 40px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.experimental-format-for-email .ellipse-1-24sS1v {
  background-color: transparent;
  height: 50.70%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.experimental-format-for-email .ellipse-1-goX1IU {
  background-color: transparent;
  height: 58.06%;
  left: calc(50.00% - 33px);
  position: absolute;
  top: 0px;
  width: 72px;
}
.experimental-format-for-email .facebook-J0os4Z {
  background-color: transparent;
  height: 49px;
  left: calc(50.00% - 128px);
  position: absolute;
  top: 0px;
  width: 49px;
}
.experimental-format-for-email .footer-grey-color-overlay-C61RwL {
  background-color: transparent;
  height: 463px;
  left: calc(50.00% - 146px);
  position: absolute;
  top: calc(50.00% + 1756px);
  width: 292px;
}
.experimental-format-for-email .footer-text-0xqxx4 {
  background-color: transparent;
  height: 463px;
  left: calc(50.00% - 146px);
  position: relative;
  top: calc(50.00% - 232px);
  width: 292px;
}
.experimental-format-for-email .footer-text-5h9QEr {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 22.1px;
  position: absolute;
  text-align: center;
  top: 430px;
  white-space: nowrap;
  width: 294px;
}
.experimental-format-for-email .footer-text-pAbfe2 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 143px);
  letter-spacing: 0.00px;
  line-height: 22.1px;
  position: absolute;
  text-align: left;
  top: 127px;
  width: 289px;
}
.experimental-format-for-email .footer-text-xLqQBE {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 143px);
  letter-spacing: 0.00px;
  line-height: 22.1px;
  position: absolute;
  text-align: center;
  top: 66px;
  width: 288px;
}
.experimental-format-for-email .hi-paul-welcome-to-C61RwL {
  background-color: transparent;
  height: 3.57%;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 71.07%;
  width: 294px;
}
.experimental-format-for-email .hi-paul-welcome-to-Fy8XbI {
  background-color: transparent;
  color: rgba(51,51,51,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 63.68%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 36.32%;
  width: 100.68%;
}
.experimental-format-for-email .hi-paul-welcome-to-VMr6Om {
  background-color: transparent;
  height: 7.14%;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 13.18%;
  width: 294px;
}
.experimental-format-for-email .image-1-C61RwL {
  background-color: transparent;
  height: 371px;
  left: calc(50.00% - 129px);
  position: absolute;
  top: 3537px;
  width: 240px;
}
.experimental-format-for-email .image-1-VMr6Om {
  background-color: transparent;
  height: 373px;
  left: calc(50.00% - 115px);
  position: absolute;
  top: 2921px;
  width: 230px;
}
.experimental-format-for-email .image-1-mzXdH9 {
  background-color: transparent;
  height: 376px;
  left: calc(50.00% - 103px);
  position: absolute;
  top: 1535px;
  width: 206px;
}
.experimental-format-for-email .image-11-AnKCw1 {
  background-color: transparent;
  height: 3.64%;
  left: 66.52%;
  object-fit: cover;
  position: absolute;
  top: 25.56%;
  width: 18.21%;
}
.experimental-format-for-email .image-2-Beyjxh {
  background-color: transparent;
  height: 371px;
  left: calc(50.00% - 102px);
  position: absolute;
  top: 0px;
  width: 203px;
}
.experimental-format-for-email .image-2-C61RwL {
  background-color: transparent;
  height: 371px;
  left: calc(50.00% - 102px);
  position: absolute;
  top: 2046px;
  width: 203px;
}
.experimental-format-for-email .image-3-C61RwL {
  background-color: transparent;
  height: 366px;
  left: calc(50.00% - 101px);
  position: absolute;
  top: 981px;
  width: 202px;
}
.experimental-format-for-email .instagram-J0os4Z {
  background-color: transparent;
  height: 49px;
  left: calc(50.00% - 59px);
  position: absolute;
  top: 0px;
  width: 49px;
}
.experimental-format-for-email .intro-header-C61RwL {
  background-color: transparent;
  height: 424px;
  left: calc(50.00% - 146px);
  position: absolute;
  top: calc(50.00% - 2206px);
  width: 292px;
}
.experimental-format-for-email .linkedin-J0os4Z {
  background-color: transparent;
  height: 49px;
  left: calc(50.00% + 10px);
  position: absolute;
  top: 0px;
  width: 49px;
}
.experimental-format-for-email .logo-header-C61RwL {
  background-color: transparent;
  height: 40px;
  left: calc(50.00% - 167px);
  position: absolute;
  top: calc(50.00% - 2274px);
  width: 335px;
}
.experimental-format-for-email .rectangle-12-AnKCw1 {
  background-color: rgba(255,255,255,1.0);
  height: 5.72%;
  left: 66.67%;
  position: absolute;
  top: 23.98%;
  width: 18.91%;
}
.experimental-format-for-email .social-buttons-xLqQBE {
  background-color: transparent;
  height: 49px;
  left: 18px;
  position: absolute;
  top: 0px;
  width: 256px;
}
.experimental-format-for-email .span0-4x4zGM {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.experimental-format-for-email .span0-M0YBIv {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.experimental-format-for-email .span0-NgiGbx {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.experimental-format-for-email .span0-P78DKE {
  font-style: normal;
  line-height: 16px;
}
.experimental-format-for-email .span0-RXQxsx {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.experimental-format-for-email .span0-mSf5OP {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.experimental-format-for-email .span0-q23GK0 {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.experimental-format-for-email .span1-4x4zGM {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span1-M0YBIv {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span1-NgiGbx {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span1-P78DKE {
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.experimental-format-for-email .span1-RXQxsx {
  color: rgba(51,51,51,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span1-mSf5OP {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span1-q23GK0 {
  color: rgba(0,0,0,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span2-4x4zGM {
  color: rgba(0,0,0,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span2-M0YBIv {
  color: rgba(51,51,51,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span2-NgiGbx {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.experimental-format-for-email .span2-mSf5OP {
  color: rgba(0,0,0,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span3-M0YBIv {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span3-NgiGbx {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span4-M0YBIv {
  color: rgba(51,51,51,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span4-NgiGbx {
  color: rgba(0,0,0,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span5-M0YBIv {
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .span6-M0YBIv {
  color: rgba(51,51,51,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.experimental-format-for-email .test-flight-app-i66881493-AnKCw1 {
  background-color: transparent;
  color: rgba(22,117,210,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  height: 7.63%;
  left: 16.42%;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 9.81%;
  white-space: nowrap;
  width: 28.35%;
}
.experimental-format-for-email .text-1-C61RwL {
  background-color: transparent;
  color: rgba(216,50,117,1.0);
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 0.60%;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 57.45%;
  white-space: nowrap;
  width: 294px;
}
.experimental-format-for-email .text-1-VMr6Om {
  background-color: transparent;
  height: 2.40%;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 29.69%;
  width: 294px;
}
.experimental-format-for-email .text-2-C61RwL {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 2.38%;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 83.59%;
  width: 294px;
}
.experimental-format-for-email .text-2-VMr6Om {
  background-color: transparent;
  height: 1.81%;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 41.15%;
  width: 294px;
}
.experimental-format-for-email .text-3-C61RwL {
  background-color: transparent;
  height: 1.21%;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 60.43%;
  width: 294px;
}
.experimental-format-for-email .text-4-C61RwL {
  background-color: transparent;
  height: 1.21%;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 58.64%;
  width: 294px;
}
.experimental-format-for-email .text-redeem-code-C61RwL {
  background-color: transparent;
  color: rgba(153,153,153,1.0);
  font-family: 'Helvetica Neue-Medium', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 4.59%;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 51.84%;
  width: 294px;
}
.experimental-format-for-email .twitter-J0os4Z {
  background-color: transparent;
  height: 49px;
  left: calc(50.00% + 79px);
  position: absolute;
  top: 0px;
  width: 49px;
}
.experimental-format-for-email .vector-Y4bgVk {
  background-color: transparent;
  height: 65.00%;
  left: 37.31%;
  position: absolute;
  top: 17.50%;
  width: 25.67%;
}
.experimental-format-for-email .welcome-to-the-jungl-Fy8XbI {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 212px);
  width: 100.68%;
}
.experimental-format-for-email .white-clay-i-ph-ockuuups-studio-AnKCw1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100.40%;
}
.experimental-format-for-email .white-clay-i-ph-ockuuups-studio-Zjjsew {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 88.70%;
}
.helveticaneue-bold-white-20px {
  color: transparent;
  font-family: 'Helvetica Neue-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.helveticaneue-regular-normal-delta-13px {
  color: var(--delta);
  font-family: 'Helvetica Neue-Regular', Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --delta: rgba(163,163,163,1.0);
}
