@-webkit-keyframes playGlow {
    0% {
        box-shadow: 0 0 5px 0 orange;
    }

    40% {
        box-shadow: 0 0 25px 0 orange;
    }

    100% {
        box-shadow: 0 0 5px 0 orange;
    }
}

@keyframes playGlow {
    0% {
        box-shadow: 0 0 5px 0 orange;
    }

    40% {
        box-shadow: 0 0 25px 0 orange;
    }

    100% {
        box-shadow: 0 0 5px 0 orange;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

*:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #999 !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: #999 !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: #999 !important;
}

input:-ms-input-placeholder {
    color: #999 !important;
}

a:hover {
    text-decoration: none;
}

html {
    font-size: 16.5px;
}

@media (max-width: 950px),(max-height: 750px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 750px),(max-height: 650px) {
    html {
        font-size: 12.5px;
    }
}

@media (max-width: 380px),(max-height: 380px) {
    html {
        font-size: 11.5px;
    }
}

@media (max-width: 330px),(max-height: 330px) {
    html {
        font-size: 10.5px;
    }
}

@media (max-width: 950px) {
    .hide-small {
        display: none;
    }
}

.aboutme {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2.5rem;
    margin-bottom: 3rem;
}

.aboutme .bubble {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    display: none;
}

.aboutme img.portrait {
    height: 7.5rem;
    width: auto;
    margin-right: 1rem;
    border-radius: 50%;
    display: block;
}

.aboutme .bubbleText {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

body {
    overflow: auto;
    overflow-x: hidden;
    font-family: "Bodoni 72", Georgia, serif;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: #4BAFE1;
    text-decoration: underline;
}

[onclick] {
    cursor: pointer;
}

article pre {
    font-size: 0.73rem !important;
}

section {
    margin: 2.5vh 5.5vw 2.5vh 5vw;
    position: relative;
}

section header {
    position: relative;
    width: 100%;
    font-size: 1.14rem;
    line-height: 1.45rem;
    min-height: calc(1.45rem + 4px);
    margin-bottom: 3rem;
    color: #666;
}

section header .h-left {
    position: absolute;
    left: 0;
}

section header .h-left .icon-heart:before {
    font-size: 90%;
    vertical-align: 1px;
}

section header .h-right {
    position: absolute;
    right: 0;
}

section header .h-right .ion-thumbsup:before {
    font-size: 125%;
}

section article {
    margin: 0 auto 4rem;
    max-width: 700px;
}

section article .video {
    position: relative;
    max-width: 720px;
    margin: 0 0 1vh;
}

section article .video .playpause {
    background-image: url(../gfx/ui/play.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 101%;
    height: 100%;
    position: absolute;
}

section article .video video {
    width: 100%;
    display: block;
}

section article .image {
    position: relative;
    max-width: 720px;
}

section article .image img {
    width: 100%;
}

section article .image {
    position: relative;
    max-width: 720px;
}

section article .image img {
    width: 100%;
}

section article .collage {
    position: relative;
    margin: 0 -4.3rem;
    width: calc(100% + 9rem);
}

@media (min-width: 1000px) {
    section article .collage {
        margin: 0 -4.6rem;
        width: calc(100% + 8.8rem);
    }
}

section article .collage .playbutton {
    background-image: url(../gfx/ui/play.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    width: 6vw;
    height: 6vw;
    top: 0;
    background-size: auto 50%;
    background-color: #fff;
    top: calc(50% - 3vw);
    left: calc(50% - 3vw);
    border-radius: 50%;
    box-shadow: 0 0 5px #000;
    background-position-x: 60%;
    border: solid 1px orange;
    -webkit-animation: playGlow 3s infinite;
    animation: playGlow 3s infinite;
}

section article .collage img {
    width: 100%;
}

section article .title {
    font-size: 1.82rem;
    line-height: 1.82rem;
    margin: 0 0 0.66vh;
}

section article .description {
    font-size: 1.03rem;
    line-height: 1.82rem;
}

section article .description p {
    margin-bottom: 0.85rem;
}

section article .article {
    font-size: 1.03rem;
    line-height: 1.82rem;
}

@media (max-width: 800px) {
    section header .h-left {
        position: relative;
        display: block;
    }

    section header .h-right {
        position: relative;
        text-align: right;
        display: block;
    }
}

/*
	CHEESY EFFECT
*/
.h-hidden {
    transition: opacity 1s linear 10s;
    opacity: 0;
}

.h-visible {
    transition: opacity 1s linear 10s;
    opacity: 1;
}

body.ready .h-hidden {
    opacity: 1;
}

body.ready .h-visible {
    opacity: 0;
}

article .description a:hover .icon-select:before {
    text-decoration: none;
}