@charset "utf-8";
/* Styles to structure the blocks content and the page itself */

/* Test */
.x {border:solid 1px #666666;}

/* Layout */
body {}
.page {padding:20px 0;}
.page_i1 {width:900px;padding:18px 12px 0;background:url('../images/layout/bg.jpg');border:solid 1px #B66B77;-moz-box-shadow:3px 3px 3px #edd4ad;-webkit-box-shadow:3px 3px 3px #e1c5ad;-moz-border-radius:2px;-webkit-border-radius:2px;}
.leftcol {width:250px;}
.middlecol {}
#loginbox {background:url('../images/layout/bg.jpg');border:solid 1px #B66B77;-moz-box-shadow:3px 3px 3px #edd4ad;-webkit-box-shadow:3px 3px 3px #e1c5ad;-moz-border-radius:2px;-webkit-border-radius:2px;}
.content.full {overflow:hidden;}

/* Styles */
p, hr, h1, h2, h3, h4, h5, pre, a, ul, div, img {}

/* Classes */
.bold {font-weight:bold;}

/* Nav */
.nav {width:420px;height:42px;}
.nav a {text-decoration:none;}
.nav li {font-family:"Comic Sans MS", cursive;font-size:20px;line-height:20px;font-weight:bold;display:inline-block;margin:0;}
.nav li a {
	display: block;
	line-height: 30px;
	font-size: 16px;
	text-transform: capitalize;
	padding:0 9px;
}
	.ie8 .nav li a {display:inline-block;}
.nav li ul {padding:0 0 0 0;margin:0 0 0 0;}
	.ie78 .nav li ul {padding-right:13px;}
	
/* Top */
.top.full {z-index:100;height:41px;}
.logo {height:108px;background:url('../images/layout/inside_banner.jpg') no-repeat;border:solid 1px #f4efc7;-moz-border-radius:2px;-webkit-border-radius:2px;}
.logo h1 {text-indent:-1000px;overflow:hidden;}
	
	/* Follow */
	.follownav {position:absolute;top:9px;right:10px;width:550px;text-align:right;}
	.follownav a, .follownav span {display:inline-block;}
	.follownavb {}
	.follownavb a, .follownavb span {}
	
	/* Contact
	.top a.contact_phone {width:146px;height:42px;background:url('../images/layout/top_phone.png') 0 0 no-repeat;}
	.top a:hover.contact_phone {background:url('../images/layout/top_phone_h.png') no-repeat;}
	.top a.contact_email {width:201px;height:42px;background:url('../images/layout/top_email.png') 0 0 no-repeat;}
	.top a:hover.contact_email {background:url('../images/layout/top_email_h.png') no-repeat;}

	/* Menu
	.nav a.page_home {width:51px;height:42px;background:url('../images/layout/nav_home.png') no-repeat;}
	.nav a:hover.page_home {background:url('../images/layout/nav_home_h.png') no-repeat;}
	.nav a.page_bio {width:64px;height:42px;background:url('../images/layout/nav_bio.png') no-repeat;}
	.nav a:hover.page_bio {background:url('../images/layout/nav_bio_h.png') no-repeat;}
	.nav a.page_gallery {width:90px;height:42px;background:url('../images/layout/nav_gallery.png') no-repeat;}
	.nav a:hover.page_gallery {background:url('../images/layout/nav_gallery_h.png') no-repeat;}
	.nav a.page_blog {width:70px;height:42px;background:url('../images/layout/nav_blog.png') no-repeat;}
	.nav a:hover.page_blog {background:url('../images/layout/nav_blog_h.png') no-repeat;}
	.nav a.page_contact {width:89px;height:42px;background:url('../images/layout/nav_contact.png') no-repeat;}
	.nav a:hover.page_contact {background:url('../images/layout/nav_contact_h.png') no-repeat;}
	*/
	
/* Home */
.home {}

	/* Layout */
	.home .leftcol {margin:0;width:300px;}
	.home .leftcol_i1 {width:305px;height:319px;margin:4px 0 4px -10px;background:url('../images/layout/home_girl.png') no-repeat;}
	.home .leftcol_i2 {margin:4px 0 4px 14px;}
	.home .logo {height:280px;width:898px;background:url('../images/layout/home_banner.jpg') no-repeat;}
	.home .logo h1 {text-indent:-1000px;overflow:hidden;}
	.home .thoughts {position:absolute;float:none;margin:9px 38px;width:220px;}
	.home .thoughts .thought p {color:#b66b77;font-size:12px;}
	.home .menu.nav {position:absolute;right:0;top:340px;z-index:100;}
	.home .leftcol_i1 {margin:18px 0 4px 0;}
	.home .middlecol {margin:0 5px 0 -50px;width:610px;}
	.home .middlecol_i1 {margin:25px 0 4px 0;}

	/* Home Text1 */
	.home .middle_text {width:600px;height:183px;}
	
	/* Home Recent Works */
	.home .recent_works {position:absolute;margin:160px 3px 0;width:610px;}
	.home .recent_works h2 {text-indent:-1000px;overflow:hidden;margin:0 0 9px -2px;width:120px;height:29px;background:url('../images/layout/recent_works.png') no-repeat;}
	
	/* Home hScroll */
	.home .hscroll_container {width:620px;height:100px;}
	.home .hscroll {}
	.home .hscroll_item {width:98px;height:98px;margin:3px;}
	.home .hscroll_item_i1 {position:absolute;width:85px;height:85px;overflow:hidden;padding:4px 4px 4px 5px;z-index:10;}
	.home .hscroll_item .image {width:150px;float:left;min-width:20px;}
	.home .hscroll_item p {}
	.home .hscroll_item a {}
	.home .hscroll_item .slideshow_frame {position:absolute;width:98px;height:98px;background:url('../images/layout/thumb_frame.png');z-index:100px;}

/* Inside */
.inside {}

	/* Layout */
	.inside .middlecol {margin:0 5px 0 0;width:595px;}
	.inside .slideshow .slide, .inside .content #editor li, .inside .content #editor_button li {text-align:left;}
	.inside .text {clear:both;margin:0 5px 20px;}
	.inside .text1 {margin-top:20px;}
	.inside .shoppingcart {margin:20px 5px;}

	/* Vertical Scroll */
	.inside .vscroll {padding-left:38px;overflow:hidden;}
	.inside .jScrollPaneTrack {height:354px;width:38px;top:32px;background:url("../images/layout/scroll_body.png") repeat-y;}
	.inside .jScrollPaneDrag {height:46px;width:43px;background-image:url("../images/layout/scroll.png");margin-top:19px;}
	.inside a.jScrollArrowUp {height:32px;width:38px;background-image:url("../images/layout/scroll_up.png");margin-top:-1px;}
	.inside a.jScrollArrowDown {height:40px;width:38px;background-image:url("../images/layout/scroll_down.png");}
	
	/* Thumbs */
	.inside .leftcol div {clear:both;}
	.inside .leftcol .slideshow_nav {clear:both;}
	.inside .leftcol .slideshow_thumb {float:left;clear:none;margin:4px 1px 6px 8px;width:98px;height:98px;}
	.inside .leftcol .slideshow_thumb_i1 {position:absolute;width:85px;height:85px;overflow:hidden;padding:4px 4px 4px 5px;z-index:10;}
	.inside .leftcol .slideshow_thumb a {}
	.inside .leftcol .slideshow_thumb a .image {width:150px;}
	.inside .leftcol .slideshow_frame {position:absolute;width:98px;height:98px;background:url('../images/layout/thumb_frame.png');z-index:100px;}
	
	/* Slideshow */
	.inside .slideshow {}
	.inside .slideshow .slide {display:none;}
	.inside .slideshow .slide .image {margin-top:2px;border:solid 1px #B66B77;padding:2px;-moz-box-shadow:2px 2px 2px #e1c5ad;-webkit-box-shadow:2px 2px 2px #e1c5ad;-moz-border-radius:2px;-webkit-border-radius:2px;}
	
	/* Shopping cart */
	.inside .shoppingcart, .inside .shoppingcart a, .inside .shoppingcart p, .inside .shoppingcart span, .inside .shoppingcart div {color:#d1525b;}
	.inside .shoppingcart {width:250px;height:150px;background:url('../images/layout/shopping_cart.png') top left no-repeat;}
	.inside .shoppingcart div {float:left;clear:both;}
	.inside .shoppingcart_description {margin:-3px 0 0 133px;width:125px;text-align:left;}
	.inside .shoppingcart_checkout a {display:block;margin:2px 0 0 125px;width:116px;height:30px;background:url('../images/layout/checkout.png') no-repeat;text-indent:-500px;overflow:hidden;}
	.inside .shoppingcart_checkout a:hover {background:url('../images/layout/checkout_h.png') no-repeat;}
	
	/* Add to cart */
	.inside .addtocart, .inside .addtocart a, .inside .addtocart p, .inside .addtocart span, .inside .addtocart div {color:#d1525b;}
	.inside .addtocart {display:block;height:50px;background:url('../images/layout/add_to_cart.png') -2px 0 no-repeat;}
	.inside .addtocart.hover {background:url('../images/layout/add_to_cart_h.png') -2px 0 no-repeat;}
	.inside .addtocart a {display:block;padding:24px 0 0 44px;}
	.inside .addtocart span {font-size:12px;line-height:15px;}
	.inside .addtocart .first {display:none;}
	
	/* Checkout Paypal */
	.inside .checkout_paypal, .inside .checkout_paypal a, .inside .checkout_paypal p, .inside .checkout_paypal span, .inside .checkout_paypal div {color:#d1525b;}
	.inside .checkout_paypal {display:block;width:300px;background:url('../images/layout/checkout_paypal.png') no-repeat;}
	.inside .checkout_paypal.hover {background:url('../images/layout/checkout_paypal_h.png') no-repeat;}
	.inside .checkout_paypal a {display:block;padding:24px 0 0 46px;}
	.inside .checkout_paypal span {font-size:12px;line-height:15px;}
	.inside .checkout_paypal p {margin:15px 0;}
	
	/* Blog */
	.inside .posted_on {display:block;margin:10px 0 5px;font-size:12px;color:#B66B77;}

/* Side */
.vscroll {width:295px;height:428px;overflow:auto;}

/* Foot */
.copyright {position:absolute;float:none;bottom:-40px;left:10px;}
.copyright a, .copyright p {color:#B66B77;font-weight:bold;text-decoration:none;}
.copyright a:hover {text-decoration:underline;}

/* Debug IE */
ie.home .hscroll_item {margin:0 4px;}
ie.home a.hscroll_browse.right {float:right;}
body.ie6 .home .hscroll_group {float:left;}

/* RANDOM */
input[type="submit"],
input[type="button"] {
padding: 5px 10px;
margin: 0px 0px 10px;
border-radius: 10px;
background: none repeat scroll 0% 0% #FFDAB9;
border: 2px solid #A52A2A;
color: brown;
font-weight: bold;
cursor: pointer;
}
input[type="submit"] {
color: #0C0;
border: 2px solid #0C0;
}